*,
*::after,
*::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.container{
    width: 80vw;
    height: 100vh;
    margin: 0 auto;
    background-image: linear-gradient(to right,yellow, orangered);
    display: flex;
    justify-content: center;
    align-items: center;
}

.window{
    width:20vw;
    position: relative;
    border-radius: 5px;
}

.window::after,.window::before{
    content:'';
    Position:absolute;
    top:0;
    width: 50%;
    height: 100%;
    background-color: black;
    border-radius: 5px;
}
.window::before{
    left:0;
    transition:left .5s linear;
}
.window::after{
   right:0;
   transition:right .5s linear;
}

 .window:hover::before{
    left:-50%;
} 
.window:hover::after{
    right:-50%
}

.overflow{
    overflow:hidden
}
.img{
    width: 100%;
}
.window:hover .img{
    transform:scale(1.4);
    transition:transform .5s linear .5s;
}